---
layout: default
title: Home
---

{% if page.url == "/" %}

<section>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
         {% assign carousel = site.posts | where: "carousel", "true" | where: "type", "project" %}
         {% assign first = true %}

        {% for post in carousel %}        

            {% if first %}
                <div class="carousel-item active">
                {% assign first = false %}
            {% else %}
                <div class="carousel-item">
            {% endif %}

              <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">
                <img src="{{ post.image }}" alt="{{ post.title }}">
            </a>
              <div class="carousel-caption d-none d-md-block">
                <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
                <p>{{ post.excerpt }}</p>
              </div>
            </div>

        {% endfor %}
        </div>
    </div>
</section>


<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2> <span>Principales Proyectos</span> <a href="projects">Ver Todos</a></h2>    
    </div>
    <div class="row">

        {% assign featured = site.posts | where: "featured", "true" | where: "type", "project" %}

        {% for post in featured %}        

            {% include featuredbox.html %}        

        {% endfor %}

    </div>
</section>

{% endif %}


<section class="recent-posts">

    <div class="section-title">

        <h2><span>Artículos del blog</span><a href="categories#blog">Ver Todos</a></h2>

    </div>

    <div class="row listrecent">
        {% assign blog_posts = site.posts | where: "type", "blog" %}

        {% for post in blog_posts limit: 4 %}

            {% include featuredbox.html %}

        {% endfor %}
    </div>

</section>


<!-- Pagination
================================================== -->
<!--div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div-->

