---
title: "Data Science Projects"
layout: default
permalink: "/data-science-projects.html"
---


<div class="section-title">
	<h1>Proyectos de Data Science</h1>
</div>
<div class="row listrecent">
{% assign pages_list = site.posts | where: "type", "project" | where: "subtype", "ds" %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
</div>