---
title: "Projects"
layout: default
permalink: "/projectd.html"
---


<div class="section-title">
	<h1><span>Todos los proyectos</span> <a>por fecha</a><a href="projects_by_category">por categoría</a></h1>
</div>
<div class="row listrecent">
{% assign pages_list = site.posts | where: "type", "project" %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
</div>